MKA_CS.json
{
  "name": "MKA CS",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -812,
        -340
      ],
      "id": "02317376-910a-4ad7-95ec-9860c5bee6dd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0hwHAOZ5s5upmDos",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "message",
              "stringValue": "={{ $('Webhook Chat1').item.json.body.body }}"
            },
            {
              "name": "sessionId",
              "stringValue": "={{ $('Webhook Chat1').item.json.body.from }}"
            },
            {
              "name": "whatsapp",
              "stringValue": "={{ $('Webhook Chat1').item.json.body.from }}"
            },
            {
              "name": "knowledge",
              "stringValue": "={{ $json.content }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1060,
        -560
      ],
      "id": "90b8826a-cb30-4f26-8b0c-c0f1679a06f9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"output\": \"{{ $json.output }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -464,
        -560
      ],
      "id": "4a2318a6-c96a-4924-8444-39dadc7aeac8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.knowledge }}\n\nAnggap saja kamu adalah admin berikan jawaban sesuai tulisan di atas saja dan saya adalah orang yang bertanya. Jawab dengan santai, singkat dan jelas saja, agar aku tertarik denganmu. \n\nJangan kasih informasi nomor wa atau emailmu, jangan kasih informasi layanan selain dari tulisan di atas.\nInformasi di atas hanya pengetahuan. Beritahu ketika ditanya.\n\nPertanyaannya:\n{{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -840,
        -560
      ],
      "id": "bb93dc69-50a6-4cdf-8d2a-2dba346805aa",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        -560
      ],
      "id": "232d3735-7156-450f-99d0-af0a126e5d56",
      "name": "Webhook Chat1",
      "webhookId": "de1b0d83-b997-4f3f-9486-5ab134a7a72b"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json.sessionId }}\n",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -692,
        -340
      ],
      "id": "265540c0-08d7-4bcf-a6d6-1bb08941bdc9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/send-reply",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Edit Fields1').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -244,
        -560
      ],
      "id": "3e29d1e9-4af6-4f11-942a-387b25234ae6",
      "name": "HTTP Request1",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1SsPiBYANx8UcoChoILIxZFDiG34UU_LtgrHnDJVkICs/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1180,
        -360
      ],
      "id": "0124e440-ef89-4e33-aeb7-f12f11a78884",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Y7mPLhv7LtDgygwo",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Chat1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f27db724-d03a-4ba5-a5d7-7bbbcd4b52ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5cdf4709962d08547add4ab45eaf1f319fecf5e7e849d29ae5803ffcc49b350"
  },
  "id": "mEZhxAB3kYMRTq8O",
  "tags": []
}